<div class="bg-blue-400 h-full min-h-full overflow-auto">
  <app-header></app-header>
  <app-todo-card></app-todo-card>
  <p class="text-white font-bold text-lg text-center py-5">UPAO PROJECT</p>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <p class="text-white text-sn text-center mb-4">Copyright © 2022</p>
  <router-outlet></router-outlet>

</div>
