<app-header>H</app-header>
<app-sidebar>S</app-sidebar>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<style>
</style>

<img src="https://w7.pngwing.com/pngs/898/750/png-transparent-sonarqube-hd-logo.png">
<div>Hola Mundo</div>
<h1>
  Test

</h1>


<div class="center">Test</div>
Centro

<div>

<a href="https://google.com/">
  <button>Hola Google</button>
  </a>
</div>
<div class="container">
  <form action="https://upao.edu.pe/">
      <button>Mundo Upao</button>
  </form>


</div>

<form>
  <input type="radio" id="Attack" name="grupo"> Att 1
  <br>
  <input type="radio" id="Stats" name="grupo"> Def 2
  <br>
  <input type="radio" id="Mana" name="grupo"> Mana
  <br><br>
<input type="button" value="Check" onclick="MostrarSeleccion()">
</form>

<img src="https://seeklogo.com/images/S/selenium-logo-DB9103D7CF-seeklogo.com.png">

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
